/*-webkit-box-sizing: border-box*/
/*box-sizing: border-box*/

$transparent: rgba(220, 220, 220, .8)
$citybackground: url('./img/night-city.jpg')
$default-font: Helvetica Neue, Helvetica, sans-serif
$link-color: #540dd8

html 
  background-image: $citybackground
  font-family: $default-font

h3
  text-align: center

a:link
  color: $link-color
  text-decoration: none

a:hover
  color: white

.userProfile
  margin-top: 7em
  background: $transparent



.home-info
  text-align: center
  border: 0 none
  border-radius: 4px
  box-sizing: border-box
  width: 25%
  margin: 20% 37.5%
  position: relative
  background-color: $transparent


.searchContainer
  width: 100%
  text-align: center
  display: inline-block


.title 
  color: #008CBA
  font-weight: normal


.header 
  text-align: center
  background-color: $transparent


.search 
  max-width: 100%
  border-radius: 4px


.data-container 
  position: relative


.stocks 
  width: 100%
  height: 50em
  overflow: scroll


.submitButton 
  display: inline-block
  background-color: #008CBA
  border-radius: 4px
  border: none
  margin: 5px
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  font-size: 16px


.button-type
  background-color: #008CBA
  border-radius: 4px
  border: none
  margin: 5px
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  font-size: 16px


.buy-button
  background-color: #00FF00
  border-radius: 4px
  border: none
  margin: 5px
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  font-size: 16px


.sell-button
  background-color: #B80000
  border-radius: 4px
  border: none
  margin: 5px
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  font-size: 16px


.user-submit
  text-align: center

.user-input
  text-align: center

.submit-button
  text-align: center

table 
  width: 100%


table,
th,
td 
  border: none
  border-collapse: collapse


th 
  height: 3em
  width: 6em
  text-align: left


.table-body:hover 
  background-color: #707070
  cursor: pointer


ul 
  list-style: none


h1 
  text-align: center
