* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}

html {
  background-color: #fafafa;;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.app-container{
  position:relative;
  width:100%;
  height:100vh;
  text-align:center;
  
}

.title {
  color: blue;
  font-weight: normal;
}

.header{
  text-align:center;
  background-color: #fafafa;
}

.tableHead{

}



.search {
  width: 100%;
  border-radius: 4px;
}

.data-container{
  position:relative;
  background-color: rgba(220, 220, 220, .8);
}

.stocks{
  width:100%;
  height:50em;
  overflow:scroll;
}

.buttonContainer{
  width:33%;
  display:inline-block;
}

button{
  background-color:blue;
}

table{
  width:100%;
}

table, th, td{
  border:none;
  border-collapse:collapse;
}

th{
  height:3em;
  width:6em;
  text-align:left;
}

.animate{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

tr{
  -webkit-animation:fadeIn ease-in 1;
}

tr:hover{
  background-color:#00ff00;
  cursor:pointer;
}


/*
tr-false:hover{
  background-color:#DC143C;
}
*/