* {
  box-sizing: border-box;;
}

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

.app-container{
  position:relative;
}

.title {
  color: blue;
  font-weight: normal;
}

.search {
  width: 100%;
  border-radius: 4px;
}

.data-container{
  position:relative;
}

table{
  width:100%;
}

table, th, td{
  border:none;
  border-collapse:collapse;
}

th{
  height:3em;
  width:6em;
  text-align:left;
}

tr:hover{
  background-color:#00ff00;
}
/*
tr-false:hover{
  background-color:#DC143C;
}
*/